@model HrApplyApp.Models.Policy

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div>
    <h1>Edit Policy</h1>
    <h3>@Html.ActionLink("Back to list", "Manage", "Policies")</h3>
    <form action="/Policies/EditPolicy" method="POST">
        <p>
            <label>Name</label>
            <input type="text" id="Name" name="Name" />
        </p>
        <p>
            <label>Description</label>
            <textarea type="text" id="Description" name="Description"></textarea>
        </p>
        <p>
            <label>Category</label>
            <input type="text" id="Category" name="Category" />
        </p>
        //@Html.Hidden("id", Model.PolicyID);
        <button class="btn btn-primary">Save</button>
    </form>
</div>