@model HrApplyApp.Models.Employee

@{
    ViewBag.Title = "UnsuccessfulClockIn";
}

<h2>Unsuccessful ClockIn!! :()</h2>

<p>You already had a clockin, or you did not clock out</p>
<br/>
<p>@Html.ActionLink("Back to Home", "Index", "Time")</p>
