@model HrApplyApp.Models.Employee

@{
    ViewBag.Title = "UnsuccessfulClockOut";
}

<h2>Unsuccessful ClockOut!!</h2>

<p>You were not clocked in, or you clocked out already.</p>
<br/>
<p>Bummer, man.</p>
<br/>
<p>@Html.ActionLink("Back to Home", "Index", "Time")</p>


