.navbar-right {
    background-color:#1f1f1f;
    font-size: 20px;
    padding-top: 25px;
}

body {
    padding-top: 30px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


footer {
    position: absolute;
    bottom: auto;
    min-width: 100%;
    text-align: left;
    height: 100px;
    background-color: #1f1f1f;
}
#wrap {
    margin: 0 auto 100px;
}

html,
body {
  padding-top: 40px;
  background-color: #f8f8f8;
}

#prefooter {
    padding-left: 20px;
    background-color: #252729;
}

#prefooter li {
    list-style-type: none;
    color: #a0a0a0;
    font-size: 15px;
}


#prefooter h6 {
    color: #a0a0a0;
    font-size: 15px;
}

#prefooter p {
    color: #a0a0a0;
    font-size: 15px;
}

/* Styles for validation helpers
------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    font-size: 10px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}