
/*NAV
-------------------------------------------*/
.navbar-inverse {
    background-color: #1f1f1f;
    border-color: #1f1f1f;
}

.navbar-right {
    font-size: 20px;
    padding-top: 25px;
    font-family: 'Open Sans';
    
}

/*BODY
-------------------------------------------*/
body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
}

.body-content {


}

#wrap {
    background-color: #f8f8f8;
    padding-bottom: 100px;
    
}

html,
body {
  padding-top: 40px;
}

body h1 {
    font-family: 'Bitter', serif;
    text-align: center;
}
body h2 {
    padding-top: 20px;
    font-family: 'Bitter', serif;
    font-size: 24px;
    text-align: center;
}

#ApplyDescription {
    font-family: 'Open Sans-Light', sans-serif;
    font-size: 16px;
    color: #676767;
}

body h6 {
    color: #3d3d3d;
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

/*PREFOOTER
--------------------------------------*/

#prefooter {
    padding-top: 10px;
    background-color: #252729;
    padding-bottom: 20px;
}

#prefooter li {
    list-style-type: none;
}
#prefooter ul li a {
    color: #ccc;
    font-size: 15px;
    font-family: 'Open Sans Condensed';
}
#prefooter li a:hover {
    color: red;
    font-size: 15px;
    text-decoration: none;
}


#prefooter h6 {
    color: #a0a0a0;
    font-size: 15px;
    font-family: 'Lovelo Black', sans-serif;
}

#prefooter p {
    color: #ccc;
    font-size: 15px;
}

/*Footer
----------------------------------------*/
footer {
    position: absolute;
    bottom: auto;
    min-width: 100%;
    text-align: left;
    height: 80px;
    background-color: #1f1f1f;
}

footer li {
    list-style-type: none;
}



/* Styles for validation helpers
------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    font-size: 10px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*Misc 
-----------------------------------*/

.progress-bar  {
    border-radius: 10px;
}


.table-hover {

        font-size: 12px;
    }

#moreinfo {
    margin-top: 10px;
    float: right;
}

hr {
    border-color:palevioletred;
}

.btn-danger {
    margin-top: 20px;
    background-color: #edaa14;
    background-color: #edaa14;
}
.btn-danger:hover {
    background-color: #676767;
    border-color: #676767;
}

#applicationForm {
    background-color: white; 
    box-shadow: 0 0 5px darkgrey;
}

.center {
    margin: auto;
}