@model HrApplyApp.Models.Resume

@{
    ViewBag.Title = "Result2";
}

<br />
<h2>Straight into the garbage bin</h2>

@Html.ActionLink("Return to Index", "Index", "Home")

@Html.DisplayForModel(Model)

